.card {cursor: pointer;}
.board {margin-top: 1.25rem;}
.board .group-card {
    width: calc((100% - 3rem) / 3);
    display: inline-block;
    color: #666;
    font-size: 0.9rem;
    font-weight: 300;
    box-sizing: border-box;
    border-top: 0.0625rem solid #E9ECF3;
    padding: 1rem;
    margin: 0.25rem 0.5rem;
    vertical-align: top;
}
.group-card:nth-child(3n+2) {
    margin: 0.25rem 0;
}
.group-card:hover, .application-card:hover {box-shadow: 0 0.0625rem 0.1875rem rgba(20,20,94,0.12), 0 0.1875rem 0.4375rem rgba(20,20,94,0.1);}
.group-id {
    font-weight: 600;
    float: left;
}
.group-category {
    font-size: 0.75rem;
    float: right;
    border-radius: 1rem;
    background-color: rgba(129, 129, 129, 0.12);
    padding: 0.125rem 0.5rem;
}
.group-name {
    font-size: 1.75rem;
    font-weight: 600;
}
.group-name a {
    color: #333;
    transition: 0.2s all ease-in;
}
.group-name span {
    text-decoration: underline;
    text-underline-position: under;
}
.group-status {display: inline-block;}
.sub-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}
.span-wrapper {
    vertical-align: middle;
    padding-bottom: 0.25rem;
    border-bottom: 0.0325rem solid rgba(20,20,94,0.1);
    margin-bottom: 0.25rem;
}
[class*="running"] {
    color: #333;
    padding: 0.125rem 0.25rem;
    line-height: 1.25rem;
    font-size: 0.8rem;
    margin-top: 0.25rem;
}
.prerunning {background-color: #C4E538;}
.running {background-color: #ffe499;}
.group-area {
    color: #555;
    font-weight: 400;
}
.card .material-icons {
    font-size: 0.9rem;
    vertical-align: middle;
    line-height: 1.2;
}
.btn-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#listBtn, #leaveGroupBtn {
    border: none;
    font-size: 0.9rem;
    outline: none;
}
#listBtn:hover, #leaveGroupBtn:hover {color: #EF978F;}
#listBtn i {
    font-size: 0.9rem;
    vertical-align: text-top;
}
#leaveGroupBtn i {
    vertical-align: text-top;
    margin-left: 0.25rem;
}
.application-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem 0;
    padding: 0.5rem 0;
}
.application-card {
    width: calc(25% - 1.5rem);
    height: 15vh;
    min-height: 80px;
    padding: 0.5rem;
    padding-bottom: 0.75rem;
    border-top: 0.0625rem solid #E9ECF3;
    margin: 0.5rem 0.25rem;
}
.application-card:nth-child(4n+1) {margin-left: 0;}
.application-card:nth-child(4n+4) {margin-right: 0;}
.application-card .reg-date {
    text-align: right;
    font-size: 0.8rem;
    color: #999;
}
.application-card .user-name {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    line-height: 1.6;
}
.application-content {
    width: 100%;
    overflow-y: scroll;
    margin: 0.25rem 0;
    box-sizing: border-box;
    padding: 0.25rem 0.5rem;
    letter-spacing: 0.025rem;
    line-height: 1.8;
}
.application-content a {color: #333;}
@media (max-width: 768px) {
    .board .group-card, .application-card {
        width: calc(100% - 1rem);
        margin: 0.25rem 0.5rem;
    }
    .btn-wrapper {margin: 0.5rem;}
    .menu-title {
        border-radius: 0.5rem;
        margin-top: 0.5rem;
    }
    .application-card:nth-child(4n+1) {margin-left: 0.5rem;}
    .application-card:nth-child(4n+4) {margin-right: 0.5rem;}
}