.main-menu {
	display: flex;
    text-align: center;
    float: left;
    width: calc(100% / 3);
    height: 30vh;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    box-sizing: border-box;
    cursor: pointer;
}

.main-menu a {
    color: #fff;
}

.main-menu:nth-child(1) {
    background-color: #EF978F;
}
.main-menu:nth-child(2) {
    background-color: #FFC2AD;
}
.main-menu:nth-child(3) {
    background-color: #FDDFAC;
}

nav {
	color: #333;
	font-weight: 400;
	font-size: 14px;
	position: absolute;
	right: 16px;
	top: 16px;
	vertical-align: middle;
}

nav a {
    color: #EF978F;
    text-decoration: underline;
}

@media (max-width: 768px) {
	.main-menu {
			width: 100%;
			height: 24vh;
    }
    nav {
      top: 4px;
      right: 8px;
    }
}
@media (max-width: 480px) {
    body {
        width: 480px;
        position: relative;
    }
}