#container {
    border: 0.125rem solid rgba(20,20,94,0.1);
    border-radius: 0.75rem;
    margin: 0 auto;
    margin-top: 1.75rem;
}
div[class*="-section"] {
    box-sizing: border-box;
    padding: 8px;
    margin: 4px auto;
    float: left;
}
[class*="-title"] {
    text-align: center;
}
.menu-title {
    width: 50%;
    margin: 0.25rem auto;
    padding: 0.25rem 0;
    background-color: #EF978F;
    border-radius: 1.25rem;
    color: #fff;
    letter-spacing: 0.125rem;
    cursor: default;
}
.category-section {
    width: 40%;
}
.region-section {
    width: 40%;
    border-left: 1.5px solid rgb(241, 241, 241);
    border-right: 1.5px solid rgb(241, 241, 241);
}
.age-section {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.age-section div {
    align-self: center;
    flex-grow: 1;
    text-align: center;
    margin: 0.5rem;
    margin-right: 0;
}
.section-title {
    width: 40%;
    padding: 0.5rem 0 0.5rem;
    margin: 0 auto;
    margin-bottom: 0.75rem;
}
.filter-table {
    display: flex;
    height: 100%;
    margin: 1rem;
}
.search-table {
    margin: 0.5rem;
    padding: 0.5rem 0;
}
.pagination-wrapper {
    text-align: center;
    margin: 1.5rem 0;
}
.pagination {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-basis: auto;
    overflow-x: scroll;
    flex-wrap: wrap;
}
.page-num {
    box-sizing: border-box;
    width: 2.5rem;
    height: 2.5rem;
    border: 0.0625rem solid rgba(20,20,94,0.1);
    border-right: none;
    padding: 0.25rem;
    font-size: 0.8rem;
    text-align: center;
    line-height: 2rem;
    cursor: pointer;
}
.page-num:last-child {border-right: 0.0625rem solid rgba(20,20,94,0.1);}
.page-num a {color: #666;}
.page-num a:hover:not(.active a) {color: #EF978F;}
.active {background-color: #EF978F;}
.active a {
    color: #fff;
    font-weight: 600;
}

div .material-icons {
    font-size: 1rem;
    vertical-align: middle;
    margin-right: 0.25rem;
}
.material-icons span {vertical-align: bottom;}

@media (max-width: 768px) {
    #container {
        border: 0;
        margin-top: 0;
    }
	.filter-table {
        display: block;
        margin: 0;
    }
    div[class*="-section"] {
        width: 95%;
        margin: 0.25rem 2.5%;
        border-radius: 0.75rem;
        background-color: #fafafa;
    }
    .region-section {border: none;}
    [class*="-section"] .col-4 {width: 50%;}
    .menu-title {width: 80%;}
    .search-table {margin: 0.5rem 0.25rem;}
    .section-title {
        width: 100%;
        border-bottom: 0.0625rem solid rgba(20,20,94,0.1);
    }
    .pagination {width: 100%;}
}
@media (max-width: 320px) {
    body {width: 320px;}
    .page-num {
	    width: 2rem;
	    height: 2rem;
	    border: 0.0625rem solid rgba(20,20,94,0.1);
	    border-right: none;
	    padding: 0.125rem;
	    font-size: 0.6rem;
	    text-align: center;
	    line-height: 1.6rem;
        cursor: pointer;
    }
    
}
@media (min-width: 1000px) {
	#container {
        width: 1000px;
        margin: 0 auto;
        margin-top: 1.75rem;
    }
}
@media (min-width: 1200px) {
    .filter-table {height: 200px;}
}