.weekly {
    transition: all 1s;
    margin: 4px auto;
    padding: 0 8px;
}
.day-label {
    background-color: #eee;
    font-size: 18px;
    font-weight: 600;
	text-align: center;
    border-bottom: 1px solid #ddd;
    padding: 8px 4px;
}
.schedule-wrapper {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
.schedule {
    width: 100%;
    height: 300px;
    overflow-x: scroll;
    overflow-y: scroll;
    font-size: 1rem;
}
.schedule li {
    padding: 0.25rem;
    padding-left: 0.5rem;
}
.schedule a {
    display: inline-flex;
    box-sizing: border-box;
    padding: 0.25rem;
    padding-left: 0.5rem;
    margin-left: 1rem;
    width: calc(100% - 4.5rem);
}
.schedule a::before {
    content: "📚";
}
.schedule a:hover {
	text-shadow: 0 0 1px rgba(0,0,0,0.5);
}
.schedule-time {
    text-align: center;
    color: #696969;
    width: 2rem;
    margin-right: 8px;
}
.group-name {
	color: #333;
}
.group-name.ellip {
    display: inline-block;
    width: initial;
    max-width: 100%;
}
.schedule-time {display: inline-block;}
@media screen and (min-width: 768px) {
		.week-day {
			display: flex;
			justify-content: center;
			align-items: center;
		}
    .schedule-wrapper {
    	width: calc(100% / 7);
    	display:inline-block;
   	}
   	.schedule a {
   		padding: 0.25rem;
   		margin-left: 0.5rem;
   		width: calc(100% - 3.5rem);
   	}
}
@media screen and (min-width: 1200px) {
    .group-name:before {padding: 0 4px;}
}