<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="ams.group.mapper.groupManageMapper">
 
    <resultMap id="listuserVO" type="UserVO">
    	<result property="userName" column="USER_NAME"/>
	</resultMap>
    <resultMap id="listMemberVO" type="GroupMemberVO">
    	<result property="groupAuthority" column="GROUP_AUTHORITY"/>
    	<result property="regDate" column="REG_DATE"/>
	</resultMap>
	<resultMap id="listGroupVO" type="GroupVO">
	    <result property="groupId" column="GROUP_ID"/>
	    <result property="groupCategory" column="GROUP_CATEGORY"/>
	    <result property="groupMasterId" column="GROUP_MASTER_ID"/>
	    <result property="groupName" column="GROUP_NAME"/>
	    <result property="groupMemberCnt" column="GROUP_MEMBER_CNT"/>
	    <result property="groupMemberLimit" column="GROUP_MEMBER_LIMIT"/>
	    <result property="groupPeriod" column="GROUP_PERIOD"/>
	    <result property="groupArea" column="GROUP_AREA"/>
	    <result property="groupStatus" column="GROUP_STATUS"/>
	    <result property="groupStartAge" column="GROUP_START_AGE"/>
	    <result property="groupEndAge" column="GROUP_END_AGE"/>
	    <result property="regDate" column="REG_DATE"/>
	    <result property="modDate" column="MOD_DATE"/>
	    <collection property="groupMemberVO" resultMap="listMemberVO"/>
	    <collection property="userVO" resultMap="listuserVO"/>
	</resultMap>
	
	<select id="memberList" resultMap="listGroupVO">
   	<![CDATA[
   	SELECT
 		SG.GROUP_ID
 		,SG.GROUP_CATEGORY
 		,SG.GROUP_MASTER_ID
 		,SG.GROUP_NAME
 		,SG.GROUP_MEMBER_CNT
 		,SG.GROUP_MEMBER_LIMIT
 		,SG.GROUP_PERIOD
 		,SG.GROUP_AREA
 		,SG.GROUP_STATUS
 		,SG.GROUP_START_AGE
 		,SG.GROUP_END_AGE
 		,SG.REG_DATE
 		,SG.MOD_DATE
 		, GM.GROUP_AUTHORITY
 		, GM.REG_DATE
 		, U.USER_NAME
 	FROM
 		STUDY_GROUPS SG
 	LEFT JOIN
 		GROUP_MEMBERS GM
 	ON
 		SG.GROUP_ID = GM.GROUP_ID
 	LEFT JOIN
 		USERS U
 	ON
 		SG.GROUP_MASTER_ID = U.USER_ID
 	WHERE GM.USER_ID=#{userId} AND GM.GROUP_AUTHORITY != 'MASTER'
 	ORDER BY GM.REG_DATE DESC
 	]]>
   </select>
   
   <resultMap id="userName" type="UserVO">
    	<result property="userName" column="USER_NAME"/>
	</resultMap>
	<resultMap id="masterListGroupVO" type="GroupVO">
	    <result property="groupId" column="GROUP_ID"/>
	    <result property="groupCategory" column="GROUP_CATEGORY"/>
	    <result property="groupMasterId" column="GROUP_MASTER_ID"/>
	    <result property="groupName" column="GROUP_NAME"/>
	    <result property="groupDetail" column="GROUP_DETAIL"/>
	    <result property="groupMemberCnt" column="GROUP_MEMBER_CNT"/>
	    <result property="groupMemberLimit" column="GROUP_MEMBER_LIMIT"/>
	    <result property="groupPeriod" column="GROUP_PERIOD"/>
	    <result property="groupArea" column="GROUP_AREA"/>
	    <result property="groupStatus" column="GROUP_STATUS"/>
	    <result property="groupStartAge" column="GROUP_START_AGE"/>
	    <result property="groupEndAge" column="GROUP_END_AGE"/>
	    <result property="regDate" column="REG_DATE"/>
	    <result property="modDate" column="MOD_DATE"/>
	    <collection property="userVO" resultMap="userName"/>
	</resultMap>
	
	<select id="masterList" resultMap="masterListGroupVO">
   	<![CDATA[
   	SELECT
 		SG.GROUP_ID
 		,SG.GROUP_CATEGORY
 		,SG.GROUP_MASTER_ID
 		,SG.GROUP_NAME
 		,SG.GROUP_MEMBER_CNT
 		,SG.GROUP_MEMBER_LIMIT
 		,SG.GROUP_PERIOD
 		,SG.GROUP_AREA
 		,SG.GROUP_STATUS
 		,SG.GROUP_START_AGE
 		,SG.GROUP_END_AGE
 		,SG.REG_DATE
 		,SG.MOD_DATE
 		, U.USER_NAME
 	FROM
 		STUDY_GROUPS SG
 	LEFT JOIN
 		USERS U
 	ON
 		SG.GROUP_MASTER_ID = U.USER_ID
 	WHERE SG.GROUP_MASTER_ID=#{userId}
 	ORDER BY SG.REG_DATE DESC
 	]]>
   </select>
	<resultMap id="applicationListGroupVO" type="GroupVO">
	    <result property="groupId" column="GROUP_ID"/>
	    <result property="groupCategory" column="GROUP_CATEGORY"/>
	    <result property="groupMasterId" column="GROUP_MASTER_ID"/>
	    <result property="groupName" column="GROUP_NAME"/>
	    <result property="groupMemberCnt" column="GROUP_MEMBER_CNT"/>
	    <result property="groupMemberLimit" column="GROUP_MEMBER_LIMIT"/>
	    <result property="groupPeriod" column="GROUP_PERIOD"/>
	    <result property="groupArea" column="GROUP_AREA"/>
	    <result property="groupStatus" column="GROUP_STATUS"/>
	    <result property="groupStartAge" column="GROUP_START_AGE"/>
	    <result property="groupEndAge" column="GROUP_END_AGE"/>
	    <result property="regDate" column="REG_DATE"/>
	    <result property="modDate" column="MOD_DATE"/>
	    <collection property="userVO" resultMap="userName"/>
	</resultMap>
	<select id="applicationList" resultMap="applicationListGroupVO">
   	<![CDATA[
   	SELECT
 		SG.GROUP_ID
 		,SG.GROUP_CATEGORY
 		,SG.GROUP_MASTER_ID
 		,SG.GROUP_NAME
 		,SG.GROUP_MEMBER_CNT
 		,SG.GROUP_MEMBER_LIMIT
 		,SG.GROUP_PERIOD
 		,SG.GROUP_AREA
 		,SG.GROUP_STATUS
 		,SG.GROUP_START_AGE
 		,SG.GROUP_END_AGE
 		,SG.REG_DATE
 		,SG.MOD_DATE
 		, U.USER_NAME
 	FROM
 		STUDY_GROUPS SG
 	LEFT JOIN
 		USERS U
 	ON
 		SG.GROUP_MASTER_ID = U.USER_ID
 	LEFT JOIN
 		GROUP_APPLICATIONS GA
 	ON
 		GA.GROUP_ID = SG.GROUP_ID
 	WHERE GA.USER_ID=#{userId}
 	ORDER BY SG.REG_DATE DESC
 	]]>
   </select>
   <resultMap id="masterApplication" type="GroupApplicationVO">
   		<result property="applicationId" column="APPLICATION_ID"/>
	    <result property="groupId" column="GROUP_ID"/>
	    <result property="userId" column="USER_ID"/>
	    <result property="msg" column="MSG"/>
	    <result property="regDate" column="REG_DATE"/>
	    <collection property="userVO" resultMap="userName"/>
   </resultMap>
   <select id="masterApplicationList" resultMap="masterApplication">
   	<![CDATA[
   	SELECT
   		GA.APPLICATION_ID
 		, GA.GROUP_ID
 		, GA.USER_ID
 		, GA.MSG
 		, GA.REG_DATE
 		, U.USER_NAME
 	FROM
 		GROUP_APPLICATIONS GA
 	LEFT JOIN
 		USERS U
 	ON
 		GA.USER_ID = U.USER_ID
 	WHERE GA.GROUP_ID=#{groupId}
 	ORDER BY GA.REG_DATE DESC
 	LIMIT #{cri.pageStart}, 12
 	]]>
   </select>
   
   <select id="masterApplicationCount" resultType="int">
   	SELECT COUNT(*) FROM GROUP_APPLICATIONS WHERE GROUP_ID=#{groupId}
   </select>
   
   <select id="masterApplicationRead" resultMap="masterApplication">
   	SELECT
   		GA.APPLICATION_ID
 		, GA.GROUP_ID
 		, GA.USER_ID
 		, GA.MSG
 		, GA.REG_DATE
 		, U.USER_NAME
 	FROM
 		GROUP_APPLICATIONS GA
 	LEFT JOIN
 		USERS U
 	ON
 		GA.USER_ID = U.USER_ID
 	WHERE GA.APPLICATION_ID=#{applicationId}
   </select>
   <insert id="masterAccept">
    INSERT INTO GROUP_MEMBERS(GROUP_ID, USER_ID, GROUP_AUTHORITY)
       					VALUES(#{groupId}, #{userId}, 'MEMBER')
   </insert>
   <delete id="applicationDelete">
   	DELETE FROM GROUP_APPLICATIONS WHERE APPLICATION_ID=#{applicationId}
   </delete>
   
   <select id="selectGroup" resultMap="masterListGroupVO">
   <![CDATA[
   	SELECT
 		SG.GROUP_ID
 		,SG.GROUP_CATEGORY
 		,SG.GROUP_MASTER_ID
 		,SG.GROUP_NAME
 		,SG.GROUP_DETAIL
 		,SG.GROUP_MEMBER_CNT
 		,SG.GROUP_MEMBER_LIMIT
 		,SG.GROUP_PERIOD
 		,SG.GROUP_AREA
 		,SG.GROUP_STATUS
 		,SG.GROUP_START_AGE
 		,SG.GROUP_END_AGE
 		,SG.REG_DATE
 		,SG.MOD_DATE
 		, U.USER_NAME
 	FROM
 		STUDY_GROUPS SG
 	LEFT JOIN
 		USERS U
 	ON
 		SG.GROUP_MASTER_ID = U.USER_ID
 	WHERE SG.GROUP_ID=#{groupId}
 	ORDER BY SG.REG_DATE DESC
 	]]>
   </select>
   <select id="selectMember" resultType="GroupMemberVO">
   	SELECT
   		*
 	FROM
 		GROUP_MEMBERS
 	WHERE GROUP_ID=#{groupId} AND USER_ID=#{userId}
   </select>
   <delete id="deleteMember">
    DELETE FROM GROUP_MEMBERS WHERE GROUP_ID=#{groupId} AND USER_ID=#{userId}
   </delete>
   <delete id="deleteApplication">
    DELETE FROM GROUP_APPLICATIONS WHERE GROUP_ID=#{groupId} AND USER_ID=#{userId}
   </delete>
   <select id="seleteApplication" resultType="GroupApplicationVO">
    SELECT 
    	GROUP_ID
    	,USER_ID
    	,MSG
     FROM GROUP_APPLICATIONS WHERE GROUP_ID=#{groupId} AND USER_ID=#{userId}
   </select>
   <update id="updateMaster">
   	UPDATE GROUP_MEMBERS SET GROUP_AUTHORITY = 'MASTER' 
   	WHERE GROUP_ID = #{groupId} AND GROUP_AUTHORITY='MEMBER'
   	ORDER BY REG_DATE ASC
   	LIMIT 1
   </update>
   <select id="nextMasterCheck" resultType="int">
   	SELECT
   		COUNT(*)
   	FROM
   		GROUP_MEMBERS
   	WHERE GROUP_ID=#{groupId} AND GROUP_AUTHORITY='MEMBER'
   	ORDER BY REG_DATE ASC
   	LIMIT 1
   </select>
   <update id="updateGroup">
   	UPDATE STUDY_GROUPS SET GROUP_MASTER_ID = (
   		SELECT USER_ID 
   		FROM GROUP_MEMBERS
   		WHERE GROUP_ID=#{groupId} AND GROUP_AUTHORITY='MASTER'
   	) 
   	WHERE GROUP_ID = #{groupId}
   </update>
   <delete id="deleteGroup">
   	DELETE FROM STUDY_GROUPS WHERE GROUP_ID=#{groupId}
   </delete>
   
   <update id="updateMemberCnt">
   <![CDATA[
  	UPDATE STUDY_GROUPS SET GROUP_MEMBER_CNT = GROUP_MEMBER_CNT + #{amount} WHERE GROUP_ID = #{groupId}
  	]]>
	</update>
	<select id="groupMemberCntChk" resultType="int">
	<![CDATA[
   	SELECT
   		COUNT(*)
   	FROM
   		STUDY_GROUPS
   	WHERE GROUP_ID=#{groupId} AND GROUP_MEMBER_LIMIT>GROUP_MEMBER_CNT
   	]]>
   </select>
</mapper>

