<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="ams.group.mapper.groupMapper">
   <insert id="groupCreate" useGeneratedKeys="true" keyProperty="groupId" >
   INSERT INTO STUDY_GROUPS(GROUP_CATEGORY, GROUP_NAME, GROUP_DETAIL, GROUP_MEMBER_LIMIT, GROUP_PERIOD, GROUP_AREA, GROUP_START_AGE, GROUP_END_AGE)
       					VALUES(#{groupCategory}, #{groupName}, #{groupDetail}, #{groupMemberLimit}, #{groupPeriod},#{groupArea},#{groupStartAge},#{groupEndAge})
   </insert>
   <insert id="groupCreateMember">
    INSERT INTO GROUP_MEMBERS(GROUP_ID, USER_ID, GROUP_AUTHORITY)
       					VALUES(#{groupId}, #{userId}, #{groupAuthority})
   </insert>
   <select id="listPage" resultType="ams.group.domain.GroupVO">
 	<![CDATA[
 	select
 		group_id, group_category, group_name, group_detail, group_member_limit, group_period, group_area, group_status, group_start_age, group_end_age, reg_date, mod_date
 	from
 		study_groups
 	where group_id > 0 and (group_status='모집중' or group_status='진행중')
 	order by group_id desc, reg_date desc
 	limit #{page},10
 	]]>
 	</select>
 	
 	<select id="listCriteria" resultType="ams.group.domain.GroupVO">
 	<![CDATA[
 	select
 		group_id, group_category, group_name, group_detail, group_member_limit, group_period, group_area, group_status, group_start_age, group_end_age, reg_date, mod_date
 	from
 		study_groups
 	where group_id>0 and (group_status='모집중' or group_status='진행중')
 	order by group_id desc, reg_date desc
 	limit #{pageStart},#{perPageNum}
 	]]>
 	</select>
 	
 	<select id="countPaging" resultType="int">
 	<![CDATA[
 	select
 		count(group_id)
 	from
 		study_groups
 	where group_id>0 and (group_status='모집중' or group_status='진행중')
 	]]>
 	</select>
 	
 	<select id="listRead" resultType="ams.group.domain.GroupVO">
 	<![CDATA[
 	select
 		*
 	from
 		study_groups
 	where group_id=#{groupId}
 	]]>
 	</select>
 	
   
</mapper>