<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="ams.user.mapper.userMapper">
   <insert id="signup">
    INSERT INTO USERS(USERID, USERPW, USERNAME, USEREMAIL)
       					VALUES(#{userId}, #{userPw}, #{userName}, #{userEmail})
   </insert>
   <insert id="getAuthority">
   	INSERT INTO AUTHORITIES(USERID)
   							VALUES(#{userId})
   </insert>
   <select id="idChk" resultType="int">
   	SELECT COUNT(*) FROM USERS WHERE USERID = #{userId}
   </select>
   
   <select id="nameChk" resultType="int">
   	SELECT COUNT(*) FROM USERS WHERE USERNAME = #{userName}
   </select>
   
   <select id="emailChk" resultType="int">
   	SELECT COUNT(*) FROM USERS WHERE USEREMAIL = #{userEmail}
   </select>
   
   <select id="getUserInfo" resultType="ams.user.domain.UserVO">
   	SELECT * FROM USERS WHERE USERID = #{userId}
   </select>
   
   <select id="findUser" resultType="String">
      SELECT USERNAME FROM USERS WHERE USERID=#{userId}
   </select>
   
   <update id="modifyUser" parameterType="ams.user.domain.UserVO">
      UPDATE USERS SET USERNAME = #{userName}, USEREMAIL=#{userEmail} WHERE USERID=#{userId}
   </update>
</mapper>
  